<td>
  <%= image_tag(product.image_url, class: 'list_image') if product.image_url%>
</td>

<td>
  <%= image_tag(product.images.first.file_path, class: 'list_image', alt: "#{@first_image_name}") if product.images.present? %>
</td>

<td class="list_description">
  <dl>
    <dt><%= product.title %></dt>
    <dd><%= truncate(strip_tags(product.description), length: 80) %></dd>
  </dl>
</td>